# Notebook checkpoints
.ipynb_checkpoints

*~
# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]

# General
.DS_Store
.directory

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# JupyterLite
.jupyterlite.doit.db
_output/
dist/
